.nomargin {
    margin: 0;
    padding: 0;
}

.header-row {
    border-bottom: 1px solid #EEE;
}

.example-area {
    min-height: 120px;
    margin-bottom: 70px;
}

.box {
    background-color: red;
    width: 50px;
    height: 50px;
    position: relative;
}

.box-silver {
    background-color: silver;
    width: 100px;
}

.benchmark-area {
    margin-bottom: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.benchmark-graph {
    width: 100%;
    height: 350px;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.benchmark-description {
    font-style: italic;
    font-size: 10pt;
    text-align: center;
}

.snippet-area {
    margin: 30px 0 50px 0;
}

h1, h2, h3, h4, h5, h6, blockquote, .lead {
    font-family: 'Roboto';
}

h1 {
    font-weight: 700;
}

ul {
    list-style-image: url(../images/bullet.png);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mega-dropdown {
    position: static !important;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

#dropdown-toggle-button span.glyphicon {
    margin-left: 15px;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: '';
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 75px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: '';
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 73px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.box-large {
    background-color: #337ab7;
    color: #ffffff;
    padding: 40px 5px;
    text-align: center;
}

.vertical-spaces {
    margin: 5px 0;
}

.jumbotron {
    background: #FFF;
    border: 1px solid #EEE;
}

.button-bar {
    margin-top: 30px;
}

#slider:before, #slider:after {
    content: '';
    position: absolute;
    width: 60%;
    height: 20px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-4deg) skew(-10deg);
    -moz-transform: rotate(-4deg) skew(-10deg);
    -o-transform: rotate(-4deg) skew(-10deg);
    -ms-transform: rotate(-4deg) skew(-10deg);
    transform: rotate(-4deg) skew(-10deg);
    left: 10px;
    bottom: 13px;
    z-index: -1;
}

#slider:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(4deg) skew(10deg);
    -moz-transform: rotate(4deg) skew(10deg);
    -o-transform: rotate(4deg) skew(10deg);
    -ms-transform: rotate(4deg) skew(10deg);
    transform: rotate(4deg) skew(10deg);
}

#slider div.slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#slider div.slide.active {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
}

#slider div.slide#three {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);}

#slider div.slide:not(.active), #slider div.slide.active ~ div.slide#three  {
  opacity: 0;
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}
