.nomargin {
    margin: 0;
    padding: 0;
}

.header-row {

}

.example-area {
    min-height: 120px;
    margin-bottom: 70px;
    border-bottom: 1px solid #e0e0e0;
}

.box {
    background-color: red;
    width: 50px;
    height: 50px;
    position: relative;
}

.box-silver {
    background-color: silver;
    width: 100px;
}

.benchmark-area {
    margin-bottom: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.benchmark-graph {
    width: 100%;
    height: 350px;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.benchmark-description {
    font-style: italic;
    font-size: 10pt;
    text-align: center;
}

.snippet-area {
    margin: 30px 0 50px 0;
}

h1, h2, h3, h4, h5, h6, blockquote, .lead {
    font-family: 'Roboto';
}

h1 {
    font-weight: 700;
}

ul {
    list-style-image: url(../images/bullet.png);
}
